Repository miong/MakeYourChoices: changes, and which Mergify rules are due for each by the changed paths.
All: Set md on creation, Set ink on creation, Set js on creation, Set config on creation

Set md on creation:
  label:
    add:
    - md
  comment:
    message: Add status from modified files types.

Set ink on creation:
  label:
    add:
    - ink
  comment:
    message: Add status from modified files types.

Set js on creation:
  label:
    add:
    - js
  comment:
    message: Add status from modified files types.

Set config on creation:
  label:
    add:
    - config
  comment:
    message: Add status from modified files types.

Update README.md (#17)
  README.md
Due: Set md on creation

[DEV] create a story debugger (#10)
  src/ink/scenes/arrive_to_lake_side.ink
  src/ink/scenes/my_house.ink
  src/ink/scenes/road_to_lake_side.ink
  src/ink/scenes/the_drivers_kitchen.ink
  src/ink/scenes/the_hungry_grizzly.ink
  tools/story_debugger/debugger.html
  tools/story_debugger/main.js
  tools/story_debugger/treant-js-master/LICENSE
  tools/story_debugger/treant-js-master/README.md
  tools/story_debugger/treant-js-master/Treant.css
  tools/story_debugger/treant-js-master/Treant.js
  tools/story_debugger/treant-js-master/build
  tools/story_debugger/treant-js-master/package.json
  tools/story_debugger/treant-js-master/vendor/jquery.easing.js
  tools/story_debugger/treant-js-master/vendor/jquery.min.js
  tools/story_debugger/treant-js-master/vendor/jquery.mousewheel.js
  tools/story_debugger/treant-js-master/vendor/perfect-scrollbar/perfect-scrollbar.css
  tools/story_debugger/treant-js-master/vendor/perfect-scrollbar/perfect-scrollbar.js
  tools/story_debugger/treant-js-master/vendor/raphael.js
Due: Set md on creation, Set ink on creation, Set js on creation

[DEV] Correction for save function (#21)
  src/ink/engine/functions.ink
  src/ink/engine/variables.ink
Due: Set ink on creation

[DEV] Remove merify comments (#23)
  .mergify.yml
Due: Set config on creation

[QA] typo corrections
  src/ink/scenes/my_house.ink
  src/ink/scenes/the_hungry_grizzly.ink
Due: Set ink on creation

[QA,STR] More corrections for day 1
  src/ink/scenes/arrive_to_lake_side.ink
  src/ink/scenes/my_house.ink
  src/ink/scenes/the_hungry_grizzly.ink
Due: Set ink on creation

[STR] Corrections for day 1
  src/ink/scenes/arrive_to_lake_side.ink
  src/ink/scenes/introduction.ink
  src/ink/scenes/road_to_lake_side.ink
  src/ink/scenes/the_drivers_kitchen.ink
Due: Set ink on creation

[DEV] Make a Unit test framework (#20)
  .gitignore
  test.bat
  test.sh
  test/libink.js
  test/libtest.js
  test/libtest_ut.js
  test/main.js
  test/story_ut.js
  test/test.template
Due: Set js on creation

[DEV] obfuscate save and keep success (#24)
  src/html_engine/main.js
Due: Set js on creation

Update README.md
  README.md
Due: Set md on creation

[DEV] Fix volume crash (#26)
  src/html_engine/main.js
Due: Set js on creation

[STR] Story day2 (#27)
  src/html_engine/style.css
  src/ink/engine/constantes.ink
  src/ink/engine/functions.ink
  src/ink/engine/variables.ink
  src/ink/scenes/endings.ink
  src/ink/scenes/includes.ink
  src/ink/scenes/introduction.ink
  src/ink/scenes/jogging.ink
  src/ink/scenes/lake_stuff.ink
  src/ink/scenes/my_house.ink
  src/ink/scenes/road_to_lake_side.ink
Due: Set ink on creation

[REL] Preview V0.0.1
  RELEASE.md
Due: Set md on creation

Better handling deploy
  auto-deploy.sh
Due: none

Update .travis.yml
  .travis.yml
Due: Set config on creation

[DEV] Let butler update fails
  auto-deploy.sh
Due: none

Path conditions:
  Set md on creation: any of: ^.*\.md
  Set ink on creation: any of: ^.*\.ink
  Set js on creation: any of: ^.*\.js
  Set config on creation: any of: ^.*\.yml
